body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2003px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1439px;
  height:788px;
}
#u2203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1439px;
  height:788px;
}
#u2203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:38px;
  background:inherit;
  background-color:rgba(235, 241, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:522px;
  width:156px;
  height:38px;
}
#u2204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:17px;
}
#u2205 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:526px;
  width:18px;
  height:17px;
  color:#1E1E1E;
}
#u2205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#1E1E1E;
}
#u2206 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:524px;
  width:61px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#1E1E1E;
}
#u2206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:96px;
  background:inherit;
  background-color:rgba(235, 241, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2207 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:560px;
  width:202px;
  height:96px;
}
#u2207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1206px;
  height:688px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2208 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:100px;
  width:1206px;
  height:688px;
}
#u2208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:41px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2209 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:60px;
  width:69px;
  height:41px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2209_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u2210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:41px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2210 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:60px;
  width:136px;
  height:41px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2210_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u2211 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:246px;
  width:1143px;
  height:255px;
}
#u2212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u2212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2212_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:156px;
  word-wrap:break-word;
}
#u2213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u2213 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:115px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2213_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:111px;
  word-wrap:break-word;
}
#u2214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
}
#u2214 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:0px;
  width:96px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:92px;
  word-wrap:break-word;
}
#u2215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
}
#u2215 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:0px;
  width:153px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2215_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:149px;
  word-wrap:break-word;
}
#u2216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u2216 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:0px;
  width:134px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2216_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:130px;
  word-wrap:break-word;
}
#u2217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:40px;
}
#u2217 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:0px;
  width:133px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2217_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:129px;
  word-wrap:break-word;
}
#u2218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:40px;
}
#u2218 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:0px;
  width:226px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2218_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:222px;
  word-wrap:break-word;
}
#u2219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
}
#u2219 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:0px;
  width:126px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2219_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:122px;
  word-wrap:break-word;
}
#u2220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:35px;
}
#u2220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:160px;
  height:35px;
}
#u2220_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:156px;
  word-wrap:break-word;
}
#u2221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:35px;
}
#u2221 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:40px;
  width:115px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2221_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:111px;
  word-wrap:break-word;
}
#u2222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:35px;
}
#u2222 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:40px;
  width:96px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2222_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:92px;
  word-wrap:break-word;
}
#u2223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:35px;
}
#u2223 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:40px;
  width:153px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2223_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:149px;
  word-wrap:break-word;
}
#u2224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:35px;
}
#u2224 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:40px;
  width:134px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2224_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:130px;
  word-wrap:break-word;
}
#u2225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:35px;
}
#u2225 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:40px;
  width:133px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2225_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:129px;
  word-wrap:break-word;
}
#u2226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:35px;
}
#u2226 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:40px;
  width:226px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2226_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:222px;
  word-wrap:break-word;
}
#u2227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:35px;
}
#u2227 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:40px;
  width:126px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2227_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:122px;
  word-wrap:break-word;
}
#u2228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u2228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:75px;
  width:160px;
  height:30px;
}
#u2228_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u2229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u2229 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:75px;
  width:115px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2229_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  word-wrap:break-word;
}
#u2230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u2230 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:75px;
  width:96px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2230_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u2231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u2231 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:75px;
  width:153px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2231_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:149px;
  word-wrap:break-word;
}
#u2232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u2232 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:75px;
  width:134px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2232_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:130px;
  word-wrap:break-word;
}
#u2233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u2233 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:75px;
  width:133px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2233_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u2234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
}
#u2234 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:75px;
  width:226px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2234_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:222px;
  word-wrap:break-word;
}
#u2235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u2235 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:75px;
  width:126px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2235_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u2236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u2236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:160px;
  height:30px;
}
#u2236_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u2237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u2237 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:105px;
  width:115px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2237_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  word-wrap:break-word;
}
#u2238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u2238 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:105px;
  width:96px;
  height:30px;
}
#u2238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u2239 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:105px;
  width:153px;
  height:30px;
}
#u2239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u2240 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:105px;
  width:134px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u2241 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:105px;
  width:133px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2241_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u2242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
}
#u2242 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:105px;
  width:226px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2242_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:222px;
  word-wrap:break-word;
}
#u2243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u2243 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:105px;
  width:126px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2243_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u2244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u2244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:135px;
  width:160px;
  height:30px;
}
#u2244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u2245 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:135px;
  width:115px;
  height:30px;
}
#u2245_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u2246 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:135px;
  width:96px;
  height:30px;
}
#u2246_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u2247 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:135px;
  width:153px;
  height:30px;
}
#u2247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u2248 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:135px;
  width:134px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2248_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u2249 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:135px;
  width:133px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
}
#u2250 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:135px;
  width:226px;
  height:30px;
}
#u2250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u2251 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:135px;
  width:126px;
  height:30px;
}
#u2251_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u2252 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:165px;
  width:160px;
  height:30px;
}
#u2252_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u2253 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:165px;
  width:115px;
  height:30px;
}
#u2253_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u2254 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:165px;
  width:96px;
  height:30px;
}
#u2254_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u2255 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:165px;
  width:153px;
  height:30px;
}
#u2255_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u2256 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:165px;
  width:134px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2256_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u2257 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:165px;
  width:133px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2257_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
}
#u2258 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:165px;
  width:226px;
  height:30px;
}
#u2258_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u2259 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:165px;
  width:126px;
  height:30px;
}
#u2259_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u2260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:195px;
  width:160px;
  height:30px;
}
#u2260_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u2261 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:195px;
  width:115px;
  height:30px;
}
#u2261_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u2262 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:195px;
  width:96px;
  height:30px;
}
#u2262_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u2263 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:195px;
  width:153px;
  height:30px;
}
#u2263_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u2264 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:195px;
  width:134px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2264_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u2265 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:195px;
  width:133px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2265_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
}
#u2266 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:195px;
  width:226px;
  height:30px;
}
#u2266_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u2267 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:195px;
  width:126px;
  height:30px;
}
#u2267_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u2268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:225px;
  width:160px;
  height:30px;
}
#u2268_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u2269 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:225px;
  width:115px;
  height:30px;
}
#u2269_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u2270 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:225px;
  width:96px;
  height:30px;
}
#u2270_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u2271 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:225px;
  width:153px;
  height:30px;
}
#u2271_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u2272 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:225px;
  width:134px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2272_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u2273 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:225px;
  width:133px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2273_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
}
#u2274 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:225px;
  width:226px;
  height:30px;
}
#u2274_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u2275 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:225px;
  width:126px;
  height:30px;
}
#u2275_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2276 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:128px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2276_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2277 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:126px;
  width:84px;
  height:25px;
}
#u2277_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2278 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:128px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2278_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2279 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:126px;
  width:84px;
  height:25px;
}
#u2279_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2280 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:128px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2280_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2281 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:128px;
  width:107px;
  height:22px;
}
#u2281_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2281_input:disabled {
  color:grayText;
}
#u2282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2282 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:176px;
  width:70px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2282_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u2283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2283 {
  border-width:0px;
  position:absolute;
  left:807px;
  top:128px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2283_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2284 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:126px;
  width:84px;
  height:25px;
}
#u2284_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2285 {
  border-width:0px;
  position:absolute;
  left:997px;
  top:128px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2285_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2286 {
  border-width:0px;
  position:absolute;
  left:1096px;
  top:126px;
  width:84px;
  height:25px;
}
#u2286_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2287 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:176px;
  width:127px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2287_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u2288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:172px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2288 {
  border-width:0px;
  position:absolute;
  left:1449px;
  top:81px;
  width:556px;
  height:172px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2288_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  word-wrap:break-word;
}
#u2289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:17px;
}
#u2289 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:578px;
  width:18px;
  height:17px;
  color:#1E1E1E;
}
#u2289_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#1E1E1E;
}
#u2290 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:576px;
  width:76px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#1E1E1E;
}
#u2290_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u2291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
}
#u2291 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:573px;
  width:35px;
  height:28px;
}
#u2291_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:37px;
}
#u2292 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:513px;
  width:45px;
  height:37px;
}
#u2292_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:17px;
}
#u2293 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:620px;
  width:18px;
  height:17px;
}
#u2293_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#169BD5;
}
#u2294 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:618px;
  width:76px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#169BD5;
}
#u2294_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u2295 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:175px;
  width:107px;
  height:22px;
}
#u2295_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2295_input:disabled {
  color:grayText;
}
